# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Django stuff:
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
/media
/staticfiles

# Virtual environment
venv/
ENV/
env/
.venv/

# VS Code settings
.vscode/

# MacOS / Windows files
.DS_Store
Thumbs.db
